@media screen and (min-width: 992px) and (max-width: 1600px) {
  body {
    max-width: 100%;
    font-size: 18px;
  }

  /*-------------------------------header----------------------------------------------------------*/
  #logo {
    font-size: 60px;
  }

  .left_arrow {
    font-size: 45px;
  }

  /*-------------------------restaurants-------------------------------------------------*/
  .block_restaurant {
    height: 1380px;
  }

  .block_restaurant img {
    height: 300px;
  }

  .menu {
    width: 90%;
    margin-left: 75px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
  }

  .choice {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
  }

  .menu_content {
    width: 35%;
    height: 80px;
    margin-right: 80px;
  }

  .menu_text {
    font-size: 20px;
  }

  .text2 {
    font-size: 17px;
    padding-top: 5px;
  }

  .price {
    font-size: 20px;
    margin-top: 10px;
  }

  /*---------------------coeur--------------------------*/
  .icon_heart {
    font-size: 40px;
    margin-right: 80px;
  }

  i.fas.fa-heart {
    font-size: 40px;
  }

  /*------------validation---des----plats------------*/
  .menu_animation {
    height: 83px;
    width: 80px;
    position: absolute;
    left: 500px;
  }

  @keyframes slide_in {
    0% {
      transform: translateX(-30px);
      width: 5%;
    }
    100% {
      transform: translateX(-100px);
      width: 18%;
    }
  }


  /*---------bouton--commander-----------------*/
  .button1 {
    width: 35%;
    height: 80px;
    font-size: 25px;
    border-radius: 50px;
  }

  /*--------------------------------footer---------------------------------------------------------------*/

  footer {
    height: 300px;
  }

  .footer_title {
    font-size: 25px;
  }

  .footer_link {
    font-size: 20px;
  }
}
