@media screen and (min-width: 992px) and (max-width: 1440px) {
  /*html,
    body {
      overflow-x: hidden;
    }*/

  body {
    width: auto;
    margin: unset;
    box-sizing: border-box;
    font-size: 18px;
  }

  .block_page {
    width: 156%;
    margin: 0px;
    padding: 0px;
  }

  /*-------------------------------header----------------------------------------------------------*/

  header {
    width: 130%;
  }

  .block_restaurant {
    width: 156%;
    height: 900px;
  }

  .block_restaurant img {
    height: 300px;
  }

  .choice {
    display: flex;
    flex-direction: row;
    width: 97%;
  }

  .menu {
    height: 720px;
  }

  /*--------------------------------footer---------------------------------------------------------------*/

  footer {
    width: 156%;
    padding-top: 50px;
  }
}
