@media screen and (min-width: 992px) and (max-width: 1600px) {
  body {
    max-width: 100%;
    font-size: 18px;
  }

  /*-------------------------loader--------------------------------------------------*/
  #loading {
    width: 100%;
  }

  .loader {
    position: absolute;
    top: 32%;
    left: 43%;
    width: 150px;
    height: 150px;
  }

  .loader_logo {
    position: absolute;
    top: 60%;
    left: 40%;
  }
  /*-------------------header---------------------------------------------*/
  form {
    margin-right: 20px;
  }

  /*----------------------------bouton------------------------------------------------*/
  .button1 {
    width: 50%;
  }

  /*-------------------------fonctionnement-----------------------------------------*/
  .function {
    display: flex;
    flex-direction: row;
    height: 120px;
  }

  .function_content {
    width: 100%;
  }

  .function_box {
    margin-left: 80px;
  }

  /*----------------------------restaurants-------------------------------------*/

  .restaurants_choice {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .restaurants {
    height: 680px;
  }

  figure {
    width: 45%;
    margin-left: 40px;
  }

  figure .new {
    width: 100px;
  }

  /*-------------------------footer---------------------------------------*/

  .footer_title {
    font-size: 25px;
  }

  .links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 25px;
  }
}
