@media screen and (min-width: 992px) and (max-width: 1440px) {
  /*html,
  body {
    overflow-x: hidden;
  }*/

  body {
    /*width: auto;
    margin: unset;
    box-sizing: border-box;*/
    font-size: 18px;
  }

  .block_page {
    margin: 0px;
    padding: 0px;
  }

  /*-------------------------------header----------------------------------------------------------*/

  /*-------------------------restaurants-------------------------------------------------*/
  .block_restaurant {
    width: 156%;
    height: 900px;
  }

  .block_restaurant img {
    height: 300px;
  }

  .choice {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .menu {
    width: 100%;
    height: 720px;
  }

  .starter {
    width: 50%;
  }

  /*--------------------------------footer---------------------------------------------------------------*/

  footer {
    width: 156%;
    padding-top: 50px;
  }
}
