@media screen and (min-width: 992px) and (max-width: 1440px) {
  html,
  body {
    overflow-x: hidden;
  }

  body {
    max-width: 1380px;
    margin: auto;
    box-sizing: border-box;
    font-size: 18px;
  }

  .block_page {
    margin: 0px;
    padding: 0px;
  }

  /*----------------------------bouton------------------------------------------------*/
  .button1 {
    width: 50%;
  }

  /*-------------------------fonctionnement-----------------------------------------*/
  .function {
    display: flex;
    flex-direction: row;
    height: 120px;
  }

  .function_content {
    width: 30%;
  }

  /*----------------------------restaurants-------------------------------------*/
  .restaurants_choice {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .restaurants {
    height: 680px;
  }

  figure {
    width: 45%;
    margin-left: 40px;
  }

  figure .new {
    width: 100px;
  }
}
