@media screen and (min-width: 768px) and (max-width: 992px) {
  html,
  body {
    overflow-x: hidden;
  }

  body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 18px;
  }

  .blocpage {
    width: 100%;
    margin: 0px;
    padding: 0px;
  }

  /*-------------------header-------------------------------------------*/

  header {
    width: 100%;
    height: 90px;
  }

  .logo {
    width: 55%;
    height: 50px;
    margin-right: 50px;
  }

  header i {
    padding-bottom: 15px;
  }

  /*--------------------------block_restaurant---------------------------------------*/

  .block_restaurant {
    width: 100%;
  }

  .block_restaurant img {
    height: 300px;
    width: 100%;
  }

  .menu {
    height: 1110px;
    width: 100%;
  }

  h1 {
    font-size: 40px;
  }

  /*------------------------icone_coeur------------------------------------------*/
  .icon_heart {
    font-size: 50px;
  }

  .icon_heart_start {
    font-size: 50px;
  }

  .icon_heart_3 {
    font-size: 50px;
  }

  i.fas.fa-heart {
    font-size: 50px;
  }

  /*---------------------------------------plats----------------------------------------*/
  .plates {
    width: 45%;
  }

  .starter {
    width: 45%;
  }

  .dessert {
    width: 45%;
  }

  .choice {
    display: flex;
    flex-wrap: wrap;
  }

  /*------------------------bouton----------------------------------------------*/
  .button1 {
    width: 300px;
    height: 100px;
    margin-top: 90px;
    border-radius: 50px;
    font-size: 20px;
  }

  /*------------------footer-------------------------------------------------------*/
  footer {
    padding-top: 25px;
    height: 350px;
    margin: unset;
  }
}
