@media screen and (min-width: 768px) and (max-width: 992px) {
  body {
    max-width: 100%;
  }

  /*-------------------header-------------------------------------------*/

  header {
    width: auto;
    height: 90px;
    display: flex;
    justify-content: space-around;
  }

  .left_arrow {
    font-size: 35px;
    position: absolute;
    right: 50px;
  }

  #logo {
    font-size: 60px;
  }

  /*--------------------------block_restaurant---------------------------------------*/

  .block_restaurant img {
    height: 300px;
    width: 100%;
  }

  .menu {
    height: 1110px;
  }

  h1 {
    font-size: 40px;
  }

  /*------------------------icone_coeur------------------------------------------*/
  .icon_heart {
    font-size: 50px;
  }

  .icon_heart_start {
    font-size: 50px;
  }

  .icon_heart_3 {
    font-size: 50px;
  }

  i.fas.fa-heart {
    font-size: 50px;
  }

  /*---------------------------------------plats----------------------------------------*/
  .choice {
    display: flex;
    flex-wrap: wrap;
  }

  .menu_content {
    width: 45%;
    height: 70px;
    position: relative;
  }

  text {
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .text2 {
    padding-top: 5px;
  }

  .ellipsis {
    width: 180px;
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .menu_animation {
    height: 70px;
    width: 70px;
    position: absolute;
    left: 384px;
  }

  /*------------------------bouton----------------------------------------------*/
  .button1 {
    width: 250px;
    height: 70px;
    margin-top: 90px;
    border-radius: 50px;
    font-size: 25px;
  }

  /*------------------footer-------------------------------------------------------*/
  footer {
    padding-top: 25px;
    height: 330px;
    margin: unset;
  }

  .footer_title {
    font-size: 30px;
  }

  .footer_link {
    font-size: 20px;
  }
}
