* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style-type: none;
}

body {
  font-family: "Roboto", sans-serif;
  max-width: 768px;
}

.block-page {
  padding: 0 5px 0 5px;
}
/*------------------------------------------loader----------------------------------------------------*/

/*#loader_page {
  margin: auto;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: white;
  animation: opacity 0.1s forwards;
  animation-duration: 0.5s;
  animation-delay: 3.5s;
}

.loader {
  position: absolute;
  margin: 30px 0 0 20px;
  width: 150px;
  height: 150px;
  background-color: white;
  display: grid;
  border: 8px solid #0000;
  border-radius: 50%;
  border-color: #9356dc #0000;
  animation: s6 3s infinite linear;
  -webkit-animation: s6 3s infinite linear;
}

.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  margin: 4px;
  border: inherit;
  border-radius: 50%;
}

.loader::before {
  border-color: #ff79da #0000;
  animation: inherit;
  animation-duration: 3s;
  animation-direction: reverse;
}

.loader::after {
  margin: 16px;
}

@keyframes s6 {
  100% {
    transform: rotate(1turn);
  }
}*/

/*----------------------------------header---------------------------------*/
header {
  width: 100%;
  height: 115px;
}

.logo {
  display: flex;
  justify-content: center;
  height: 65px;
}

.logo img {
  width: 50%;
}

.location {
  height: 50px;
  background-color: rgb(234, 229, 229);
  justify-content: center;
  padding: 20px 0 0 80px;
  border-top: solid 3px rgb(175, 173, 173);
}

form {
  display: flex;
  justify-content: center;
}

input {
  margin-left: 10px;
  background-color: rgb(234, 229, 229);
  font-weight: bold;
  color: black;
}

.search {
  border: none;
}

/*-----------------------------------------------explore----------------------------------------------*/

.explore {
  height: 285px;
  background-color: rgb(247, 242, 242);
}

/*---------------------------------------titre--------*/
h2 {
  font-size: 18px;
  display: flex;
  justify-content: center;
}

#title {
  padding-top: 40px;
}

/*--------------------sous_titre------------------------*/
.subtitle {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.subtitle2 {
  display: flex;
  justify-content: center;
}

/*-----------------------bouton_explore-------------------*/
.button1 {
  margin-top: 35px;
  width: 215px;
  height: 50px;
  border-radius: 25px;
  border: none;
  font-size: 16px;
  color: white;
  background-color: #ff79da;
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  box-shadow: 2px 2px 2px grey;
}

.button_explore {
  display: flex;
  justify-content: center;
}

.button1:hover {
  background-color: #fab1e5;
  background: linear-gradient(to top left, #8627fa, #fa4cc6);
  box-shadow: 5px 5px 5px grey;
}

/*-------------------------------Fonctionnement-----------------------------------------------*/

/*.function {
  height: 400px;
}*/

.function_title {
  margin: 50px 0 30px 20px;
  font-weight: bold;
  font-size: 20px;
}

.function_content {
  margin: 25px 0 0 25px;
  width: 90%;
  height: 75px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  font-weight: bold;
  background-color: rgb(247, 242, 242);
  box-shadow: 1px 2px 2px grey;
  display: flex;
  align-items: center;
  opacity: 0, 8;
}

.button_function {
  display: flex;
  flex-direction: column;
}

.number {
  text-decoration: none;
  color: white;
  background-color: #9356dc;
  border-radius: 100%;
  padding: 2px 7px 2px 7px;
  margin-right: 20px;
}

.function_content a {
  color: black;
}

.function_icon {
  margin-right: 35px;
  color: grey;
}

.function_content .function_icon:hover {
  background-color: #f0dfeb;
  box-shadow: 5px 4px 4px grey;
}

.function_content i:hover {
  color: #8627fa;
}

/*--------------------------------restaurants--------------------------------------------------*/

.restaurants {
  margin-top: 60px;
  height: 1250px;
  background-color: rgb(247, 242, 242);
}

#restaurants_title {
  padding: 60px 0 0 20px;
  font-weight: bold;
  font-size: 20px;
}

/*----------------carte_restaurant--------------------------------*/
figure {
  width: 90%;
  margin: 20px 0 0 15px;
  box-shadow: 1px 2px 2px 2px rgb(206, 206, 206);
  border-radius: 15px;
  border: none;
  position: relative;
}

figure img {
  width: 100%;
  height: 175px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.legend {
  background-color: white;
  width: 100%;
  height: 75px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  color: black;
  position: relative;
}

.name {
  font-weight: bold;
  padding: 15px 0 0 15px;
  border: none;
}

.place {
  padding: 5px 0 0 15px;
  font-weight: normal;
}

/*------------icon-----heart---------*/

.icon_heart {
  position: absolute;
  top: 5px;
  right: 20px;
}

.icon_heart:hover i.fa-heart {
  display: none;
}

.icon_heart:hover i.fas.fa-heart {
  display: block;
}

.icon_heart {
  display: flex;
  justify-content: flex-end;
  font-size: 2rem;
  margin: 1.2rem 0 2rem 7rem;
}

/*---------- icon heart palette------------------*/

.icon_heart_start:hover i.fa-heart {
  display: none;
}
.icon_heart_start:hover i.fas.fa-heart {
  display: block;
}

.icon_heart_start {
  display: flex;
  justify-content: flex-end;
  font-size: 2rem;
  margin-top: -2rem;
}

/*-- icon_heart 3 --*/

.icon_heart_3:hover i.fa-heart {
  display: none;
}

.icon_heart_3:hover i.fas.fa-heart {
  display: block;
}

.icon_heart_3 {
  display: flex;
  justify-content: flex-end;
  font-size: 2rem;
  margin: 1.2rem 0 2rem 9rem;
}

i.fa-heart:hover {
  cursor: pointer;
  border: 0 solid transparent;
}

i.fas.fa-heart {
  display: none;
  background: linear-gradient(to bottom, #9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 2rem;
}

/*---------mot----nouveau------incrusté--------------*/

figure .new {
  width: 90px;
  height: 30px;
  background-color: #99e2d0;
  padding: 8px 13px;
  color: green;
  font-weight: bold;
  border-radius: 5px;
  position: absolute;
  top: 15px;
  right: 20px;
}

/*----------------------------footer------------------------------------*/

footer {
  background-color: rgb(56, 55, 55);
  height: 300px;
}

.footer_title {
  font-family: "Shrikhand", sans-serif;
  font-size: 20px;
  padding: 30px 0 0 15px;
  color: white;
}

.footer {
  display: flex;
  flex-direction: column;
}

footer a {
  color: white;
}

footer i {
  color: white;
}

.footer_link {
  margin: 20px 0 0 20px;
}

.fa-cutlery {
  margin-right: 15px;
}

.fa-handshake {
  transform: rotate(-35deg);
  font-size: 14px;
  margin-right: 10px;
}

.footer_link :hover {
  transition: 1s;
  border-bottom: 4px solid #9356dc;
}

.footer_link i:hover {
  border-bottom: none;
}
