html,
body {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style-type: none;
}

body {
  font-family: "Roboto", sans-serif;
  max-width: 768px;
}

/*-----------------------------------------header----------------------------------------------*/

header {
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}

.left_arrow {
  font-size: 25px;
  position: absolute;
  left: 20px;
}

.left_arrow a {
  color: black;
}

#logo {
  font-family: "Shrikhand", sans-serif;
  font-size: 35px;
  display: flex;
  justify-content: center;
}

/*--------------------------------------------restaurant---------------------------------------------*/
.block_restaurant {
  height: 1340px;
  width: 100%;
}

.block_restaurant img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.menu {
  background-color: rgb(247, 242, 242);
  width: 100%;
  height: 1210px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  position: relative;
  bottom: 50px;
}

.title {
  padding-top: 30px;
}

h1 {
  margin-left: 20px;
  font-family: "Shrikhand", sans-serif;
  font-size: 28px;
  display: flex;
  justify-content: flex-start;
}

/*--------------------------------------------icone_coeur------------------------------------*/

.icon_heart:hover i.fa-heart {
  display: none;
}

.icon_heart:hover i.fas.fa-heart {
  display: block;
}

.icon_heart {
  display: flex;
  justify-content: flex-end;
  font-size: 30px;
  position: absolute;
  top: 35px;
  right: 30px;
}

/*---------- icon heart palette------------------*/

.icon_heart_start:hover i.fa-heart {
  display: none;
}
.icon_heart_start:hover i.fas.fa-heart {
  display: block;
}

.icon_heart_start {
  display: flex;
  justify-content: flex-end;
  font-size: 30px;
  margin-top: -30px;
}

/*----------- icon_heart 3 -----------------*/

.icon_heart_3:hover i.fa-heart {
  display: none;
}

.icon_heart_3:hover i.fas.fa-heart {
  display: block;
}

.icon_heart_3 {
  display: flex;
  justify-content: flex-end;
  font-size: 30px;
  margin: 12px 0 30px 10px;
}

i.fa-heart:hover {
  cursor: pointer;
  border: 0 solid transparent;
}

i.fas.fa-heart {
  display: none;
  background-image: linear-gradient(to bottom, #9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 30px;
}

/*--------------------soulignement---vert-------------------------*/
.sub_menu {
  margin: 30px 0 0 20px;
  border-bottom-width: 50px;
  border-bottom: 3px solid #99e2d0;
  width: 45px;
}

/*-----------------------------------plats---------------------------------------------------------------*/
.menu_content {
  width: 90%;
  height: 60px;
  margin: 20px 0 0 20px;
  background-color: white;
  border-radius: 15px;
  padding: 10px 0 0 20px;
}

.text {
  max-width: 250px;
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menu_text {
  padding-bottom: 5px;
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text2 {
  font-size: 14px;
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.price {
  width: 20px;
  font-weight: bold;
  position: absolute;
  right: 10%;
  padding: 20px 30px 0 0;
}

.ellipsis {
  width: 200px;
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*------------------------apparition-des-plats---------------------------------------------------------*/
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.menu_details1 {
  animation: fadein 1s;
}

.menu_details2 {
  animation: fadein 2s;
}

.menu_details3 {
  animation: fadein 3s;
}

.menu_details4 {
  animation: fadein 4s;
}

.menu_details5 {
  animation: fadein 5s;
}

.menu_details6 {
  animation: fadein 6s;
}

.menu_details7 {
  animation: fadein 7s;
}

.menu_details8 {
  animation: fadein 8s;
}

.menu_details9 {
  animation: fadein 9s;
}

.menu_details10 {
  animation: fadein 10s;
}

/*-------------------------validation_plats-------------------------------------------------------------*/
.menu_animation {
  background-color: #99e2d0;
  width: 60px;
  height: 62px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  position: relative;
  left: 270px;
  bottom: 11px;
  display: flex;
  visibility: hidden;
  align-items: center;
  justify-content: center;
}

.check {
  width: 25px;
  color: #99e2d0;
  background-color: white;
  border-radius: 100%;
  padding: 2px 3px 2px 3px;
}

/*----------------------animation_slide------------*/
@keyframes slide_in {
  0% {
    transform: translateX(0%);
    /*visibility: hidden;*/
  }
  100% {
    transform: translateX(-40%);
  }
}

.menu_content:hover .menu_animation {
  animation: slide_in 1s forwards;
  visibility: visible;
}

/*-----------animation_décaler_le_prix--------------*/

.ellipsis:hover .price {
  animation: translate_price 1s forwards;
}

@keyframes translate_price {
  0% {
    right: 2%;
  }
  100% {
    right: 24%;
  }
}

/*----------------------animation_rotate-------------*/

@keyframes check_rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.menu_content:hover .check i {
  animation: check_rotate 1s forwards;
}

/*------------------------------bouton_validation---------------------------------------------------*/

.button1 {
  width: 215px;
  height: 50px;
  margin-top: 80px;
  border-radius: 25px;
  border: none;
  font-size: 16px;
  color: white;
  background-color: #ff79da;
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  box-shadow: 5px 5px 5px grey;
}

.button_explore {
  display: flex;
  justify-content: center;
}

.button1:hover {
  background-color: #fab1e5;
  background: linear-gradient(to top left, #8627fa, #fa4cc6);
  box-shadow: 10px 10px 10px grey;
}

/*----------------------------footer--------------------------------------------------------------------*/

footer {
  background-color: rgb(56, 55, 55);
  height: 300px;
  margin-top: 50px;
}

.footer_title {
  font-family: "Shrikhand", sans-serif;
  font-size: 20px;
  padding: 50px 0 0 15px;
  color: white;
}

.footer {
  display: flex;
  flex-direction: column;
}

footer a {
  color: white;
}

footer i {
  color: white;
}

.footer_link {
  margin: 20px 0 0 20px;
}

.fa-cutlery {
  margin-right: 10px;
}

.fa-handshake {
  transform: rotate(-35deg);
  font-size: 12px;
  margin-right: 7px;
  padding: 0 0 5px 3px;
}

.footer_link :hover {
  transition: 0.3s;
  border-bottom: 3px solid #9356dc;
}

.footer_link i:hover {
  border-bottom: none;
}
