* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style-type: none;
}

body {
  font-family: "Roboto", sans-serif;
  max-width: 768px;
}

/*------------------------header----------------------------------------------*/

header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.left_arrow {
  font-size: 25px;
  margin-left: 20px;
}

.left_arrow a {
  color: black;
}

#logo {
  font-family: "Shrikhand", sans-serif;
  font-size: 40px;
  margin-right: 60px;
}

/*---------------------------restaurant---------------------------------------------*/
.block_restaurant {
  height: 1340px;
  width: 100%;
}

.block_restaurant img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.menu {
  background-color: rgb(247, 242, 242);
  width: 100%;
  height: 1210px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  position: relative;
  bottom: 70px;
}

.title {
  padding-top: 20px;
}

h1 {
  margin-left: 20px;
  font-family: "Shrikhand", sans-serif;
  font-size: 28px;
  display: flex;
  justify-content: flex-start;
}

/*--------------------------------------------icon_heart------------------------------------*/

.icon_heart:hover i.fa-heart {
  display: none;
}

.icon_heart:hover i.fas.fa-heart {
  display: block;
}

.icon_heart {
  display: flex;
  justify-content: flex-end;
  font-size: 30px;
  position: absolute;
  top: 25px;
  right: 30px;
}

/*---------- icon heart palette------------------*/

.icon_heart_start:hover i.fa-heart {
  display: none;
}
.icon_heart_start:hover i.fas.fa-heart {
  display: block;
}

.icon_heart_start {
  display: flex;
  justify-content: flex-end;
  font-size: 30px;
  margin-top: -30px;
}

/*----------- icon_heart 3 -----------------*/

.icon_heart_3:hover i.fa-heart {
  display: none;
}

.icon_heart_3:hover i.fas.fa-heart {
  display: block;
}

.icon_heart_3 {
  display: flex;
  justify-content: flex-end;
  font-size: 30px;
  margin: 12px 0 30px 10px;
}

i.fa-heart:hover {
  cursor: pointer;
  border: 0 solid transparent;
}

i.fas.fa-heart {
  display: none;
  background: linear-gradient(to bottom, #9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 30px;
}

/*--------------------soulignement---vert-------------------------*/
.sub_menu {
  margin: 30px 0 0 20px;
  border-bottom-width: 50px;
  border-bottom-color: #99e2d0;
}

.sub_menu::after {
  content: "";
  display: block;
  width: 45px;
  border-bottom: 3px solid #99e2d0;
  padding-bottom: 3px;
}

/*-----------------------------------plats----------------------------------------------*/
.starter {
  width: 90%;
  height: 60px;
  margin: 20px 0 0 20px;
  background-color: white;
  border-radius: 20px;
  padding: 10px 0 0 20px;
}

.plates {
  width: 90%;
  height: 60px;
  margin: 20px 0 0 20px;
  background-color: white;
  border-radius: 20px;
  padding: 10px 0 0 20px;
}

.dessert {
  width: 90%;
  height: 60px;
  margin: 20px 0 0 20px;
  background-color: white;
  border-radius: 20px;
  padding: 10px 0 0 20px;
}

.base {
  font-weight: bold;
  font-size: 16px;
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.details {
  font-size: 13px;
  margin-top: 7px;
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.price {
  display: flex;
  justify-content: flex-end;
  position: relative;
  bottom: 20px;
  right: 20px;
  font-weight: bold;
}

/*.menu_validation:hover {
  transition: margin-right 50px 500ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
  transition-property: margin-right;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.3, 0.7, 0.4, 1.5);
  transition-delay: 0s;
}*/

/*------------------------apparition-des-plats------------------------------------*/
.starter {
  animation: fadein 5s;
}

.plates {
  animation: fadein 15s;
}

.dessert {
  animation: fadein 25s;
}

@keyframes fadein {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

/*------------------------------bouton_validation---------------------------------------------------*/

.button1 {
  width: 215px;
  height: 50px;
  margin-top: 80px;
  border-radius: 25px;
  border: none;
  font-size: 16px;
  color: white;
  background-color: #ff79da;
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  box-shadow: 5px 5px 5px grey;
}

.button_explore {
  display: flex;
  justify-content: center;
}

.button1:hover {
  background-color: #fab1e5;
  background: linear-gradient(to top left, #8627fa, #fa4cc6);
  box-shadow: 5px 5px 5px grey;
}

/*----------------------------footer------------------------------------*/

footer {
  background-color: rgb(56, 55, 55);
  height: 300px;
  margin-top: 50px;
}

.footer_title {
  font-family: "Shrikhand", sans-serif;
  font-size: 20px;
  padding: 30px 0 0 15px;
  color: white;
}

.footer {
  display: flex;
  flex-direction: column;
}

footer a {
  color: white;
}

footer i {
  color: white;
}

.footer_link {
  margin: 20px 0 0 20px;
}

.fa-cutlery {
  margin-right: 15px;
}

.fa-handshake {
  transform: rotate(-35deg);
  font-size: 14px;
  margin-right: 10px;
}

.footer_link :hover {
  transition: 1.5s;
  border-bottom: 4px solid #9356dc;
}

.footer_link i:hover {
  border-bottom: none;
}
