* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style-type: none;
}

body {
  font-family: "Roboto", sans-serif;
  max-width: 768px;
  margin: auto;
}

/*------------------------------------------header----------------------------------------------------*/
header {
  width: 100%;
  height: 115px;
  display: flex;
  flex-direction: column;
}

.logo {
  display: flex;
  height: 65px;
  justify-content: center;
}

.logo img {
  width: 40%;
}

.location {
  height: 50px;
  background-color: rgb(201, 198, 198);
  justify-content: center;
  padding: 20px 0 0 80px;
}

form {
  display: flex;
  justify-content: center;
}

input {
  margin-left: 10px;
  background-color: rgb(201, 198, 198);
  font-weight: bold;
  color: black;
}

.search {
  border: none;
}

/*-----------------------------------------------explore----------------------------------------------*/

.explore {
  height: 285px;
  background-color: rgb(247, 242, 242);
}
/*---------------------------------------titre--------*/
#title {
  font-size: 18px;
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

#title2 {
  font-size: 18px;
  display: flex;
  justify-content: center;
}

/*--------------------sous_titre------------------------*/
#subtitle {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

#subtitle2 {
  display: flex;
  justify-content: center;
}

/*-----------------------bouton_explore-------------------*/
.button1 {
  margin-top: 35px;
  width: 215px;
  height: 50px;
  border-radius: 25px;
  border: none;
  font-size: 16px;
  color: white;
  background-color: #ff79da;
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  box-shadow: 2px 2px 2px grey;
}

.button_explore {
  display: flex;
  justify-content: center;
}

.button1:hover {
  background-color: #fab1e5;
  background: linear-gradient(to top left, #ff79da, #9356dc);
  box-shadow: 5px 5px 5px grey;
}

/*-------------------------------Fonctionnement-----------------------------------------------*/

.function {
  height: 440px;
}

.function_title {
  margin: 50px 0 0 20px;
}

.button2 {
  margin: 35px 0 0 25px;
  width: 90%;
  height: 75px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  font-weight: bold;
  background-color: rgb(247, 242, 242);
  box-shadow: 1px 2px 2px grey;
  display: flex;
  align-items: center;
}

.button_function {
  display: flex;
  flex-direction: column;
}

.number {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #9356dc;
  color: white;
  margin-right: 25px;
  position: relative;
  right: 10px;
  padding-top: 3px;
}

.button2 i {
  margin-right: 35px;
}

.button2:hover {
  background-color: #f0dfeb;
  box-shadow: 5px 4px 4px grey;
}
/*--------------------------------restaurants--------------------------------------------------*/

.restaurants {
  height: 1250px;
  background-color: rgb(247, 242, 242);
}

#restaurants_title {
  padding: 60px 0 0 20px;
}

/*----------------carte_restaurant--------------------------------*/
figure {
  width: 90%;
  margin: 20px 0 0 20px;
  box-shadow: 1px 2px 2px 2px grey;
  border-radius: 15px;
  border: none;
  position: relative;
}

figure img {
  width: 100%;
  height: 175px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

figcaption {
  background-color: white;
  width: 100%;
  height: 75px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  color: black;
  position: relative;
}

.name {
  font-weight: bold;
  padding: 15px 0 0 10px;
  border: none;
}

.place {
  padding: 5px 0 0 10px;
}

.fa-heart {
  font-size: 30px;
  font-weight: normal;
  position: absolute;
  right: 20px;
  top: 15px;
}

figure .new {
  width: 90px;
  height: 30px;
  background-color: #99e2d0;
  padding: 8px 13px;
  color: green;
  font-weight: bold;
  border-radius: 5px;
  position: absolute;
  top: 15px;
  right: 20px;
}

/*----------------------------footer------------------------------------*/

footer {
  background-color: rgb(56, 55, 55);
  height: 230px;
}

footer img {
  width: 30%;
  padding: 20px 0 0 15px;
}

.footer {
  display: flex;
  flex-direction: column;
}

footer a {
  color: white;
}

footer i {
  color: white;
}

.propose {
  margin: 20px 0 0 20px;
}

.fa-cutlery {
  margin-right: 15px;
}

.partner {
  margin: 10px 0 0 20px;
}

.fa-handshake {
  transform: rotate(135deg);
  font-size: 14px;
  margin-right: 10px;
}

.legal {
  margin: 10px 0 0 20px;
}

.mail {
  margin: 10px 0 0 20px;
}
